In [1]:
# program for basic operations by taking user input of an equation 
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=int(input("enter the value of c:"))
x=int(input("enter the value of x:"))
result=a*(x**2)+b*x+c
print("theresult of the equation is",result)

enter the value of a: 7
enter the value of b: 6
enter the value of c: 7
enter the value of x: 9

theresult of the equation is 628

In [2]:
#swapping numbers
a=1
b=2
print("before swapping",a,b)
a,b=b,a
print("after swapping",a,b)

before swapping 1 2
after swapping 2 1

In [3]:
#swapping wiyh temp variable
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print("before swap",a,b)
temp=a
a=b
b=temp
print("after swap",a,b)

enter the value of a 7
enter the value of b 4

before swap 7 4
after swap 4 7

In [4]:
#swapping using arthematic operators+_
a=int(input("enter the value of a :"))
b=int(input("enter the value of b :"))
print("before swapping a= ",a,"b= ",b)
a=a+b
b=a-b
a=a-b
print("after swapping a= ",a,"b= ",b)

enter the value of a : 44
enter the value of b : 6

before swapping a=  44 b=  6
after swapping a=  6 b=  44

In [5]:
 #swapping using arthematic operators+_
a=int(input("enter the value of a :"))
b=int(input("enter the value of b :"))
print("before swapping a= ",a,"b= ",b)
a=a^b
b=a^b
a=a^b
print("after swapping a= ",round(a),"b= ",round(b))

enter the value of a : 4
enter the value of b : 77

before swapping a=  4 b=  77
after swapping a=  77 b=  4

In [6]:
'''write a code to calicuate the area and circumference of a circle by taking a manual radius and assigning the pi value with 3.14159 r=7.5'''
r=float(input("enter the value:"))
pi=3.14159
area=pi*(r**2)
circumference=2*pi*r
print("area of the circle:",area)
print("circumference",circumference)

enter the value: 7.5

area of the circle: 176.7144375
circumference 47.12385

In [8]:
from math import e
print(e)

2.718281828459045

In [9]:
#power and sqrt
from math import sqrt ,pow
n=16
print(sqrt(n))
print(pow(2,3))

4.0
8.0

In [12]:
#trigonometric functions
from math import sin,cos,tan,radians
angle=44
print("sin:",sin(radians(angle)))
print("cos:",cos(radians(angle)))
print("tan:",tan(radians(angle)))

sin: 0.6946583704589973
cos: 0.7193398003386512
tan: 0.9656887748070739

In [18]:
from math import floor,ceil
num=7.9
print("floor:",floor(num))
print("ceil:",ceil(num))

floor: 7
ceil: 8

In [19]:
from math import log,log10,exp
print("natural log:",log(e))
print("log base 10 of 100:",log10(100))
print("e to the power 2:",exp(2))

natural log: 1.0
log base 10 of 100: 2.0
e to the power 2: 7.38905609893065

In [21]:
#date time and calender epoch time
from datetime import datetime
now=datetime.now()
print("current time:",now)
print("date:",now.date())
print("time:",now.time())

current time: 2025-05-09 11:17:35.482691
date: 2025-05-09
time: 11:17:35.482691

In [22]:
import calendar
year=2025
print(calendar.month(2004,12))

   December 2004
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [31]:
import calendar
year=2025
print(calendar.calendar(year))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [25]:
import calendar 
year=2024
print("is leap year",calendar.isleap(year))

is leap year True

In [26]:
import calendar 
leaps=calendar.leapdays(1925,2004)
print(leaps,end=' ')

19

In [28]:
#date difference
from datetime import date
d1=date(2025,5,9)
d2=date(2025,1,1)
diff=d1-d2
print("differnce in dates:",diff.days)

differnce in dates: 128

In [29]:
#day abbrevation
from datetime import date
today=date.today()
name=today.strftime("%a")#%A FOR FULL WORD
print("today:",name)

today: Fri

In [33]:
#PRINT FIRST AND LAST DATE OF A MONTH
import calendar
from datetime import date
year=2025
month=5
fday=date(year,month,1)
lday=date(year,month,calendar.monthrange(year,month)[1])
print("firstday:",fday.strftime("%A,%Y-%M-%D"))
print("Lastday:",lday.strftime("%A,%Y-%M-%D"))

firstday: Thursday,2025-00-05/01/25
Lastday: Saturday,2025-00-05/31/25